.win98popupText {
  font-family: "windows", serif;
  text-shadow: 1px 2px black;
}

.win98popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "windows", serif;
  background: #c2c6ca;
  font-size: 12px;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #c2c6ca,
    inset -1px -1px #85898d, inset 2px 2px white;
}

.win98popup button {
  background: #c2c6ca;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
}

.win98popup .shadow {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white,
    inset -1px -1px #85898d;
}

.win98popup .bar {
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  justify-content: space-between;
  width: calc(100% - 4px);
  height: calc(1rem + 3px);
  color: white;
  background: #00a;
  padding: 2px 3px 3px;
  margin: 1px 2px;
  line-height: normal;
}

.win98popup .bar p {
  margin: 0;
}

.win98popup .bar button {
  width: 15px;
  height: 13px;
}

.win98popup .bar button:active {
  box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
    inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
}

.win98popup .bar button:active svg {
  transform: translateX(1px) translateY(1px);
}

.win98popup .bar button svg {
  margin: 3px 3px 3px 4px;
}

.wave {
  position: relative;
}

.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    #fff 13px
  );
}

.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 15px,
    #fff 12px,
    transparent 13px
  );
}

.skills-selected {
  border: #f8d838 solid 4px;
  position: relative;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    border-color: #2f7db9;
  }
}

.skills-selected::after {
  content: url("/skills/1p.png");
  position: absolute;
  font-weight: bold;
  font-style: italic;
  top: 0.5rem;
}

.bounce {
  animation: bounce 0.65s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.skillShadow {
  width: 125px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  top: 12rem;
  animation: shrink 0.65s ease infinite;
}

@keyframes shrink {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(0.9);
  }
}

.bg-skillLogo {
  animation: animatedBackground 100s infinite;
  background-blend-mode: luminosity;
}
@keyframes animatedBackground {
  0% {
    background-position: 1000% 500%;
  }
  100% {
    background-position: 0% 0%;
  }
}
