@font-face {
  font-family: "windows";
  src: url("/fonts/W95FA.otf");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.wysisyg-bar button {
  @apply bg-white;
  @apply text-black;
  @apply border border-black;
  @apply rounded-md;
  @apply p-1;
  @apply hover:bg-black;
  @apply hover:text-white;
}

.wysisyg-bar .is-active{
  @apply bg-black;
  @apply text-white;
}